<style>
  .navbar {
    float: left;
    background-color: #005EB8;
    box-shadow: -4px 0px 20px -5px rgba(26, 26, 26, 0.25) inset;
    padding: 40px 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
    font-family: 'Satoshi-Regular';
    box-sizing: border-box;
    transition: all 0.5s ease;
  }
  .navbar.collapsed {
    width: 64px;
  }
  .navbar:not(.collapsed) {
    width: 350px;
  }

  .nav_header {
    padding: 0px 8px;
    display: flex;
    gap: 10px;
  }
  .nav_header_profile {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav_header_actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .profile_display {
    background-color: aliceblue;
    width: 52px;
    height: 52px;
    border-radius: 8px;
  }
  .profile_details {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .edit_details {
    font-size: 12px;
    text-decoration-line: underline;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .nav_view {
    padding: 0px 8px;
    margin: 0px 0px 12px 0px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.05rem;
  }
  .nav_view_tab {
    display: flex;
    padding: var(--Spacing-spacing-s, 8px);
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: white;
    text-decoration: none;
    cursor: pointer;
    max-height: 40px;
    overflow: hidden;

  }
  .nav_view_tab.hover-enabled:hover{
    border-radius: var(--Radius-radius-s, 8px);
    background: #0171C6;
  }
  .nav_view_tab.tab_active {
    border-radius: var(--Radius-radius-s, 8px);
    background: #0084D4;
  }
  .nav_help {
    margin: auto 20px 0px 20px;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .nav_help_collapsed {
    margin: auto auto 0px auto;
    cursor: pointer;
  }
    
  .link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
  }
  .divider {
    display: flex;
    height: 12px;
    justify-content: center;
    padding: 0px 8px;
    margin: 0px auto 12px auto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
  }

  .nav_header_collapsed {
    margin: 0px auto;
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .nav_close, .nav_notif {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  @keyframes dissapear {
    0%   {
      opacity: 100%;
      display: flex;
    }
    100% {
      opacity: 0%;
      display: none;
    }
  }

  .fade {
    animation: dissapear 0.5s forwards;
  }

</style>


<div class="navbar" [class.collapsed]="isCollapsed">
  <div class="nav_header"  *ngIf="!isCollapsed; else nav_header_collapsed">
    <div class="nav_header_profile" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
      <div class="profile_display" [class.fade]="isCollapsed">
          <!-- insert image remove bg -->
      </div>
      <div class="profile_details">
        <div>Hi, User</div>
        <div class="edit_details" style="cursor: pointer;"><a>Edit Profile</a></div>
      </div>
    </div>
    <div class="nav_header_actions" [class.fade]="isCollapsed">
      <div class="nav_notif">
        <app-icons svgType="icon-notif"></app-icons>
      </div>
      <div class="nav_close" (click)="toggleSidebar()">
        <app-icons svgType="icon-close"></app-icons>
      </div>
    </div>
  </div>
  <ng-template #nav_header_collapsed>
    <div class="nav_header_collapsed" style="height: 102.4px;">
      <div style="cursor: pointer;">
        <app-icons svgType="icon-menu" (click)="toggleSidebar()"></app-icons>
      </div>
      <div class="nav_notif">
        <app-icons svgType="icon-notif"></app-icons>
      </div>
    </div>
  </ng-template>

  <ng-template #divider>
    <div class="divider">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="2" viewBox="0 0 18 2" fill="none">
      <path d="M1 1H17" stroke="white" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
  </ng-template>

  <div class="nav_general">
    <p class="nav_view" *ngIf="!isCollapsed; else divider">GENERAL</p>
    <div *ngFor="let item of navItems">
      <ng-container *ngIf="item.category == 'general'">
        <a class="nav_view_tab" 
          (click)="toggleIcon(item.id)"
          [ngClass]="{'tab_active': isActive(item.id)}"
          [class.hover-enabled]="!isActive(item.id)">
            <app-icons [svgType]="'icon-' + item.id" [isActive]="isActive(item.id)"></app-icons>
            <!-- <div *ngIf="!isCollapsed">{{item.title}}</div> -->
            <div [class.fade]="isCollapsed" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.title}}</div>
        </a>
      </ng-container>
    </div>
  </div>

  <div class="nav_workspace">
    <p class="nav_view" *ngIf="!isCollapsed; else divider">WORKSPACE</p>
    <div *ngFor="let item of navItems">
      <ng-container *ngIf="item.category == 'workspace'">
        <a class="nav_view_tab" (click)="toggleIcon(item.id)"
          [ngClass]="{'tab_active': isActive(item.id)}"
          [class.hover-enabled]="!isActive(item.id)">
          <app-icons [svgType]="'icon-' + item.id" [isActive]="isActive(item.id)"></app-icons>
          <div [class.fade]="isCollapsed" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.title}}</div>
        </a>
      </ng-container>
    </div>

  </div>

  <div class="nav_help" *ngIf="!isCollapsed else nav_help_collapsed">
    Having trouble with the website?<br>
    <a class="link">Contact the team here.</a>
  </div>
  <ng-template #nav_help_collapsed>
    <div class="nav_help_collapsed">
      <app-icons svgType="icon-help"></app-icons>
    </div>
  </ng-template>
</div>

