<style>
  .navbar {
    width: 350px;
    float: left;
    background-color: #005EB8;
    box-shadow: -4px 0px 20px -5px rgba(26, 26, 26, 0.25) inset;
    padding: 40px 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
    font-family: 'Satoshi-Regular';
    box-sizing: border-box;
  }
  .nav_header {
    padding: 0px 8px;
    display: flex;
    gap: 10px;
  }
  .nav_header_profile {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav_header_actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .profile_display {
    background-color: aliceblue;
    width: 52px;
    height: 52px;
    border-radius: 8px;
  }
  .profile_details {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .edit_details {
    font-size: 12px;
    text-decoration-line: underline;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
  }
  .nav_view {
    padding: 0px 8px;
    margin: 0px 0px 8px 0px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.05rem;
  }
  .nav_view_tab {
    display: flex;
    padding: var(--Spacing-spacing-s, 8px);
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: white;
    text-decoration: none;
  }
  .nav_view_tab:hover{
    border-radius: var(--Radius-radius-s, 8px);
    background: var(--Tab-Background-tab-hover, rgba(255, 255, 255, 0.20));
    background-blend-mode: overlay;
  }
  .nav_help {
    margin: auto 20px 0px 20px;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
    
  .link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
</style>


<div class="navbar" [class.collapsed]="isCollapsed">
  <div class="nav_header"  *ngIf="!isCollapsed; else nav_header_collapsed">
    <div class="nav_header_profile">
      <div class="profile_display" *ngIf="!isCollapsed">
          <!-- insert image remove bg -->
      </div>
      <div class="profile_details">
        <div>Hi, User</div>
        <div class="edit_details"><a>Edit Profile</a></div>
      </div>
    </div>
    <div class="nav_header_actions" *ngIf="!isCollapsed">
      <div class="nav_notif">
        <app-icons svgType="icon-notif"></app-icons>
      </div>
      <div class="nav_close" (click)="toggleSidebar()">
        <app-icons svgType="icon-close"></app-icons>
      </div>
    </div>
  </div>
  <ng-template #nav_header_collapsed>
      <div class="nav_close" style="height: 104px;" (click)="toggleSidebar()">
        <app-icons svgType="icon-menu"></app-icons>
      </div>
  </ng-template>

  <div class="nav_general">
    <p class="nav_view">GENERAL</p>
    <a class="nav_view_tab" routerLink="/home">
      <app-icons svgType="icon-home"></app-icons>
      Home
    </a>
    <a class="nav_view_tab" routerLink="/inbox">
      <app-icons svgType="icon-inbox"></app-icons>
      Inbox
    </a>
    <a class="nav_view_tab" routerLink="/calendar">
      <app-icons svgType="icon-calendar"></app-icons>
      Calendar
    </a>
    <a class="nav_view_tab" routerLink="/directory">
      <app-icons svgType="icon-directory"></app-icons>
      Directory
    </a>
    <a class="nav_view_tab" routerLink="/forms">
      <app-icons svgType="icon-forms"></app-icons>
      Forms
    </a>
  </div>

  <div class="nav_workspace">
    <p class="nav_view">WORKSPACE</p>
    <a class="nav_view_tab" routerLink="/todo">
      <app-icons svgType="icon-todo"></app-icons>
      To-do List
    </a>
    <a class="nav_view_tab" routerLink="/notes">
      <app-icons svgType="icon-notes"></app-icons>
      Personal Notes
    </a>
    <a class="nav_view_tab" routerLink="/links">
      <app-icons svgType="icon-links"></app-icons>
      Client Links
    </a>
  </div>

  <div class="nav_help">
    Having trouble with the website?<br>
    <a class="link">Contact the team here.</a>
  </div>
</div>

