<div class="navbar" [class.collapsed]="isCollapsed">
  <div class="nav_header" @fadeInOut *ngIf="!isCollapsed; else nav_header_collapsed">
    <div class="nav_header_profile">
      <div class="profile_display">
          <!-- insert image remove bg -->
      </div>
      <div class="profile_details">
        <div>Hi, User!</div>
        <a class="link" style="opacity: 0.5;"  (click)="toggleSettings()">Edit Profile</a>
          <app-profile-settings 
            *ngIf="showSettings" 
            (close)="toggleSettings()">
          </app-profile-settings>
      </div>
    </div>
    <div class="nav_header_actions">
        <app-icons svgType="icon-notif" class="nav_icon"></app-icons>
        <app-icons svgType="icon-close" class="nav_icon" (click)="toggleSidebar()"></app-icons>
    </div>
  </div>
  <ng-template #nav_header_collapsed>
    <div class="nav_header_collapsed" @fadeInOut >
      <app-icons svgType="icon-menu" class="nav_icon" (click)="toggleSidebar()"></app-icons>
      <app-icons svgType="icon-notif" class="nav_icon"></app-icons>
    </div>
  </ng-template>

  <ng-template #divider>
    <div class="divider" @fadeInOut>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="2" viewBox="0 0 18 2" fill="none">
      <path d="M1 1H17" stroke="white" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
  </ng-template>

  <div class="nav_general" [class.nav_general_collapsed]="isCollapsed">
    <p class="nav_view tab" @fadeInOut *ngIf="!isCollapsed; else divider">general</p>
    <div class="nav_tabs">
      <div *ngFor="let item of navItems">
        <ng-container *ngIf="item.category == 'general'">
          <div class="nav_view_tab" 
            (click)="toggleIcon(item.id)"
            [ngClass]="{'tab_active': isActive(item.id)}"
            [class.hover-enabled]="!isActive(item.id)">
              <app-icons [svgType]="'icon-' + item.id" [isActive]="isActive(item.id)"></app-icons>
              <div class="nav_view_tab_title" @fadeInOut *ngIf="!isCollapsed;">{{item.title}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="nav_workspace">
    <p class="nav_view tab" @fadeInOut *ngIf="!isCollapsed else divider">workspace</p>
    <div class="nav_tabs">
      <div *ngFor="let item of navItems">
        <ng-container *ngIf="item.category == 'workspace'">
          <div class="nav_view_tab" (click)="toggleIcon(item.id)"
            [ngClass]="{'tab_active': isActive(item.id)}"
            [class.hover-enabled]="!isActive(item.id)">
            <app-icons [svgType]="'icon-' + item.id" [isActive]="isActive(item.id)"></app-icons>
            <div  class="nav_view_tab_title" @fadeInOut *ngIf="!isCollapsed;">{{item.title}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="nav_help" style="display: flex;">
    <!-- collapsed -->
    <div class="nav_help_collapsed" *ngIf="isCollapsed" @fadeInOut>
      <app-icons svgType="icon-help"></app-icons>
    </div>
    <!-- expanded -->
    <div *ngIf="!isCollapsed" @fadeInOut style="margin-left: auto; margin-right: 20px;">
      <div style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">
        Having trouble with the website?<br>
        <a class="link">Contact the team here.</a>
      </div>
    </div>
  </div>
</div>

