<div class="modal-overlay" (click)="onClose()">
    <div class="modal-content" (click)="$event.stopPropagation()">        

        <div class="Sidebar_Settings">
            <div class="title">
                <div class="tab" style="color: var(--pino-black) !important;">settings</div>
            </div>
            <div class="tabs">
                <!-- highlight -->
                <div class="heading"><p>My Account</p></div>
                <div class="heading"><p>Appearance</p></div>
                <div class="heading"><p>Notifications</p></div>
            </div>
        </div>
        <div class="MainView">
            <div class="Display">
                <div class="MyAccount">
                    <h4>My Account</h4>
                    <div class="Content">
                        <div class="Information">
                            <p>Password</p>
                            <small>Change the password to your account.</small>
                        </div>
                        <div class="Action">
                            <div class="password">
                                <p>Change password</p>
                            </div>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="2" viewBox="0 0 32 2" fill="none">
                    <path d="M1 1H31" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <div class="Appearance">
                    <h4>Appearance</h4>
                    <div class="Content">
                        <div class="Information">
                            <p>Color mode</p>
                            <small>Choose if PINO Portal's appearance should be light or dark, or follow your computer's settings.</small>
                        </div>
                        <div class="Action" style="width: 235px;">
                            <div class="color-mode">
                                <label class="color-mode-label">
                                    <input type="radio" name="color-option" value="mode-light" checked>
                                    <p class="radio-color">Light</p>
                                </label>
                                <label class="color-mode-label">
                                    <input type="radio" name="color-option" value="mode-dark">
                                    <p class="radio-color">Dark</p>
                                </label>
                                <label class="color-mode-label">
                                    <input type="radio" name="color-option" value="mode-system">
                                    <p class="radio-color">System</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="Content">
                        <div class="Information">
                            <p>Theme</p>
                            <small>Customize the main colors of PINO Portal.</small>
                        </div>
                        <div class="Action">
                                <div class="theme-options">
                                    <label *ngFor="let theme of themes" 
                                        [class.active]="theme === currentTheme"
                                        (click)="changeTheme(theme)"
                                        [style.--circle-color]="'var(--' + theme + ')'"
                                        [style.--outline-color]="'var(--' + theme + '-darker)'"
                                        class="radio-circle-label">
                                        <input type="radio" name="theme-option" [checked]="theme === currentTheme">
                                        <span class="radio-circle"></span>
                                    </label>
                                </div>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="2" viewBox="0 0 32 2" fill="none">
                    <path d="M1 1H31" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <div class="Notifications">
                    <h4>Notifications</h4>
                    <div class="Content">
                        <div class="Information">
                            <p>Email notifications</p>
                            <small>Lorem Ipsum...</small>
                        </div>
                        <div class="Action">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 4px; align-self: stretch;">
                        <p class="notif-subheading">Notify me about...</p>
                        <div class="notif-preferences">
                            <div class="Content">
                                <div class="Information">
                                    <p>Announcements</p>
                                    <small>Permanently receive notifications about announcements on the Portal.</small>
                                </div>
                                <div class="Action">
                                    <label class="switch">
                                        <input type="checkbox" checked disabled>
                                        <span class="slider round" style="background-color: var(--text-secondary); border: 2px solid var(--text-secondary) !important; "></span>
                                    </label>
                                </div>
                            </div>
                            <div class="Content">
                                <div class="Information">
                                    <p>Form approvals</p>
                                    <small>Receive notifications about when your request form statuses.</small>
                                </div>
                                <div class="Action">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="Content">
                                <div class="Information">
                                    <p>Wins</p>
                                    <small>Receive notifications about other people's wins.</small>
                                </div>
                                <div class="Action">
                                    <!-- Dropdown innacurate from figma file, perhaps there could be a different method from the <select> tag  -->
                                    <div class="Dropdown">
                                        <select name="dropdown-wins" id="dropdown-wins" class="custom-select">
                                            <option value="wins-all">All</option>
                                            <option value="wins-star">Starred contacts only</option>
                                            <option value="wins-none">None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="Content">
                                <div class="Information">
                                    <p>Birthdays</p>
                                    <small>Receive notifications about other people's birthdays.</small>
                                </div>
                                <div class="Action">
                                    <div class="Dropdown">
                                        <select name="dropdown-bday" id="dropdown-bday" class="custom-select">
                                            <option value="bday-all">All</option>
                                            <option value="bday-star">Starred contacts only</option>
                                            <option value="bday-none">None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="Content">
                                <div class="Information">
                                    <p>Post reactions</p>
                                    <small>Receive notifications about likes and comments to your posts.</small>
                                </div>
                                <div class="Action">
                                    <div class="Dropdown">
                                        <select name="dropdown-react" id="dropdown-react" class="custom-select">
                                            <option value="react-all">All</option>
                                            <option value="react-star">Starred contacts only</option>
                                            <option value="react-none">None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: flex-start; gap: var(--spacing-xs); align-self: stretch;">
                        <p class="notif-subheading">Notify me...</p>
                        <div style="display: flex; flex-direction: column; align-items: flex-start; gap: var(--spacing-xs); align-self: stretch;">
                            <label class="notif-frequency-label">
                                <input type="radio" name="notif-frequency" value="f-always" checked>
                                <p class="radio-notif">Always, even when I'm active</p>
                            </label>
                            <label class="notif-frequency-label">
                                <input type="radio" name="notif-frequency" value="f-inactive">
                                <p class="radio-notif">As soon as I'm inactive</p>
                            </label>
                            <label class="notif-frequency-label">
                                <input type="radio" name="notif-frequency" value="f-custom">
                                <div style="display: flex; align-items: center; gap: var(--spacing-s, 12px); align-self: stretch;">
                                    <p class="radio-notif">After</p>
                                    <input type="text" id="f-minutes" name="f-custom-minutes" class="text-field">
                                    <p class="radio-notif">minutes</p>
                                </div>
                                
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>