<div class="home-component">
    <!-- hardcoded, twice for maximizing content width if there are a lot of entries this is not needed -->
    <div class="home_marquee">
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#F0B323"/>
                </svg>
            </li>
            <li>
                <span>Happy Birthday, Kier!</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#005EB8"/>
                </svg>
            </li>
            <li>
                <span>Independence Day Break</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#F93822"/>
                </svg>
            </li>
            <li>
                <span>Office Maintenance Schedule</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#FCAFC0"/>
                </svg>
            </li>
            <li>
                <span>Mid-Year Performance Review Schedule</span>
            </li>
        </ul>

        <ul aria-hidden="true">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#F0B323"/>
                </svg>
            </li>
            <li>
                <span>Happy Birthday, Kier!</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#005EB8"/>
                </svg>
            </li>
            <li>
                <span>Independence Day Break</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#F93822"/>
                </svg>
            </li>
            <li>
                <span>Office Maintenance Schedule</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M9.5 0L10.8886 6.14754L16.2175 2.78249L12.8525 8.11137L19 9.5L12.8525 10.8886L16.2175 16.2175L10.8886 12.8525L9.5 19L8.11137 12.8525L2.78249 16.2175L6.14754 10.8886L0 9.5L6.14754 8.11137L2.78249 2.78249L8.11137 6.14754L9.5 0Z" fill="#FCAFC0"/>
                </svg>
            </li>
            <li>
                <span>Mid-Year Performance Review Schedule</span>
            </li>
        </ul>

    </div>
    <div class="home_banner">
        <h5>July 16, 2025</h5>
        <h1>Good morning, User! 🌀🔅</h1>
    </div>
    <div class="section_pattern">
        <div class="clover-background"></div>
    </div>
    <div class="section_content">
        <div class="section_announcements">
            <div class="header">
                <h4>Announcements</h4>
                <div class="action_buttons">
                    <a>Add an announcement</a>
                    <a (click)="goToAnnouncements()">View more</a>
                </div>
            </div>
            <div class="content">
                <div class="content_announcement">
                    <app-announcement-block 
                        [title]="'Office Maintenance Schedule'"
                        [tag]="{ type: 'MEMOS', color: '#F93822' }"
                        [date]="'2025-06-7'"
                        [isPinned]="true"
                        [preview]="'Please be advised that routine maintenance of the office facilities will take place on Tuesday, June 17 from 8:00 AM to 6:00 PM.'"
                        [imageUrl]="'assets/images/maintenance-announcement.jpg'"
                    >
<pre style="white-space: pre-wrap;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</pre>
                    </app-announcement-block>
                </div>
                <div class="content_announcement">
                    <app-announcement-block 
                        [title]="'Independence Day Break'"
                        [tag]="{ type: 'HOLIDAYS', color: '#F0B323' }"
                        [date]="'2025-06-09'"
                        [isPinned]="false"
                        [preview]="'PINO Studio will be observing a non-working holiday on Wednesday, June 12 in celebration of Independence Day.'"
                        [imageUrl]="'assets/images/independence-day-announcement.jpg'"

>
<pre style="white-space: pre-wrap;">
In observance of Philippine Independence Day, PINO Studio will be observing a non-working holiday on Wednesday, June 12. PINO Studio will close operations on the said date in observance of this holiday.

All operations—both in-office and remote—will be paused for the day. Regular work schedules will resume on Friday, June 13.

Let's take this time to rest, reflect, and honor the spirit of independence. For urgent concerns, please coordinate with your team leads before the break.

If employees report to work to accomplish any important deadlines or client meetings, employees must inform their supervisors that they will continue work and may file for offsets thereafter.

See the PDF below for further clarifications.
</pre>
                    </app-announcement-block>
                </div>
                <div class="content_announcement">
                    <app-announcement-block 
                        [title]="'Happy Birthday, Kier!'"
                        [tag]="{ type: 'BIRTHDAYS', color: '#154734' }"
                        [date]="'2025-06-07'"
                        [isPinned]="false"
                        [preview]="'Let’s give a warm PINO birthday shoutout to Kier—here’s to another year of creativity and caffeine!'"
                        [imageUrl]="'assets/images/birthday-announcement.jpg'"
                    >
<pre style="white-space: pre-wrap;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</pre>
                    </app-announcement-block>
                </div>
            </div>
        </div>
    </div>

</div>